{% extends "base.html" %}

{% block content %}
    <header>
        {% include "parts/header.html" %}
        <p>Hi, my name is Micah. I'm a software engineer at <a href="https://rinse.com">Rinse</a>. Previously, I studied
        computer science and math at Grinnell College. Here you'll find my writing on my interests in functional programming,
        programming languages, and compilers.</p>
    </header>
    <main>
        <h2>Blog</h2>
        {% set section = get_section(path="blog/_index.md") %}
        {% for page in section.pages %}
            <a class="item no-default-link" href={{page.permalink | safe }}>
            <div>
                <h3>{{ page.title }}</h3>
                <time>{{ page.date | date(format="%B %d, %Y") }}</time>
                <p>{{ page.description }}</p>
                <div class="chips">
                    {% if page.taxonomies.tags and page.taxonomies.tags | length > 0 %}
                        {% for tag in page.taxonomies.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            </a>
            {% if not loop.last %}
                <hr/>
            {% endif %}
        {% endfor %}
    </main>
{% endblock content %}
